<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LARDML - Form</title>
</head>
<body>
    <div class="container">

        <form method="POST">
            {% csrf_token %}
            <label for="name">NAME:</label>
            <input type="text" name="name" id="name" required>

            <label for="age">AGE:</label>
            <input type="number" name="age" id="age" required>

            <label for="gender">GENDER:</label>
            <select name="gender" id="gender" required>
                <option>Select Gender</option>
                <option value="1">MALE</option>
                <option value="0">FEMALE</option>
            </select>

            <button type="submit">Submit</button>
        </form>

    </div>
</body>
</html>